@model SIMREG.ViewModels.SIMREG_NEWFORMViewModel
<fieldset>
    <legend>Category:</legend>
    <div class="display-field">
        <strong>Category Id: </strong>@Html.DisplayFor(model => model.ID)
    </div>
    <div class="display-field">
        <strong>Category Name: </strong>@Html.DisplayFor(model => model.CategoryName)
    </div>
</fieldset>
