/* JQDialog CSS   
----------------------------------------------------------*/

#jqDialog_box
{
	position: absolute;
	width: 300px;
}

#jqDialog_content
{
	margin: 15px 10px 10px 10px;
	font-weight: bold;
	font-size: 14px;
	overflow: hidden;
}

#jqDialog_options
{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

	#jqDialog_options button
	{
		background: #888 !important;
		border: 0px;
		font-size: 14px;
		color: #fff;
		width: auto;
		cursor: pointer;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
	}

#jqDialog_input
{
	padding: 4px;
	width: 250px;
}

#jqDialog_close
{
	background: none;
	border: none;
	float: right;
	font-weight: bold;
	font-size: 14px;
	color: #ff0000;
	cursor: pointer;
}

/* Message Box CSS   
----------------------------------------------------------*/

.dialogInformation, .dialogSuccess, .dailogWarning, .dailogError
{
	border: 1px solid;
	margin: 0px;
	padding: 0px 0px 8px 65px;
	width: auto;
	font-size: 12px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dialogInformation
{
	color: #00529B;
	background: #BDE5F8 url('./images/icon-info.png') no-repeat;
	background-position: 20px 10px, top;
}

.dialogSuccess
{
	color: #4F8A10;
	background: #DFF2BF url('./images/icon-tick.png') no-repeat;
	background-position: 20px 10px, top;
}

.dailogWarning
{
	color: #9F6000;
	background: #FEEFB3 url('./images/icon-warning.png') no-repeat;
	background-position: 20px 10px, top;
}

.dailogError
{
	color: #D8000C;
	background: #FFBABA url('./images/icon-cross.png') no-repeat;
	background-position: 20px 10px, top;
}
