@model SimReg.Web.ViewModels.SIMREG_REQUESTEDTYPEViewModel
<table width="100%">
    <tr>
        <td>@Html.LabelFor(model => model.REQUESTEDTYPEID)</td>
        <td>@Html.DisplayFor(model => model.REQUESTEDTYPEID)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.TITLE)</td>
        <td>@Html.DisplayFor(model => model.TITLE)</td>
    </tr>
</table>
